Output
1te_toys
2te_toys
3te_toys
system_14_matrices/CNT*
system_14_matrices/2-TbPc*
system_14_matrices/TbPc*
CP2Kfiles/CNT*
CP2Kfiles/2-TbPc*
CP2Kfiles/H-Kette*
CP2Kfiles/TbPc-9_0_CNT-Ohne_Metall-DZVP-SR
settings/2TbPc_CNT
settings/CNTs
settings/TbPc_CNT
settings/4_0-zigzag.yml
settings/TB-chains*
generate_matrices/__*
modules/__*
modules/GC.cpython-37m-x86_64-linux-gnu.so
modules/OTfor.cpython-37m-x86_64-linux-gnu.so
CP2Kfiles/TbPc-FE-16_per-9_0_CNT_Ohne_Metall-DZVP-SR-CDFT-Mg6-C26-UP

slurm

*.out*
